name: Fork Automerge Caller

on:
  pull_request_review:
    types: [submitted]
  check_run:
    types: [completed]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    uses: lemueIO/.github/.github/workflows/central-automerge-logic.yml@main
    secrets: inherit
