name: Automerge Caller

on:
  pull_request_review:
    types: [submitted]
  check_run:
    types: [completed]

permissions:
  contents: write
  pull-requests: write


jobs:
  call-automerge:
    uses: lemueIO/.github/.github/workflows/automerge.yml@main
    secrets: inherit
